name: test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      BOT_KEY: ${{ secrets.BOT_KEY }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2-beta
        with:
          go-version: "^1.14.0"
      - run: go test
